* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: rgb(43, 13, 216);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  h1 {
    font-size: 25px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  p {
    padding-left: 12px;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: right;
    width: 30%;
    background: rgb(214, 236, 11);
    padding: 30px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: square;
    padding: 5px;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #faf8e9;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgba(17, 16, 16, 0.164);
    padding: 15px;
    text-align: right;
    color: rgb(226, 19, 19);
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  @keyframes example {
    from {
      width: 0px;
      transform: rotate(180deg);
    }
    to {
      width: 400px;
      transform: rotate(0deg);
    }
  }

  #pw {
    width: 400px;
    animation-name: example;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  }